.App {
  text-align: center;
}

nav {
  list-style: none;
  width: 100%;
  padding: 0.5em 0;
  
}

nav ul {
  padding-left: 0;
}

nav ul li {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #536453;
  
}
 
nav li a {
  display: block;
    padding: 0.25em 1em;
    color: #fff;
    text-decoration: none;
 }

 .leaflet-container {
  height: 300px;
  width: 400px;
  margin: 0 auto;
}



